---
layout: default
---

<!-- Dark mode toggle button -->
<button id="theme-toggle" onclick="toggleTheme()" title="切换暗夜模式">
  <i class="fa fa-sun"></i>
  <i class="fa fa-moon"></i>
</button>

<script>
// Check for saved theme preference or use system preference
(function() {
  const savedTheme = localStorage.getItem('theme');
  const prefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
  if (savedTheme === 'dark' || (!savedTheme && prefersDark)) {
    document.body.setAttribute('data-theme', 'dark');
  }
})();

function toggleTheme() {
  const body = document.body;
  const currentTheme = body.getAttribute('data-theme');
  if (currentTheme === 'dark') {
    body.removeAttribute('data-theme');
    localStorage.setItem('theme', 'light');
  } else {
    body.setAttribute('data-theme', 'dark');
    localStorage.setItem('theme', 'dark');
  }
}
</script>

{% include nav.html %}
{% include search.html %}

{{ content }}

{% include footer.html %}


<!-- Image to hack wechat -->
<!--<img src="/img/icon_wechat.png" width="0" height="0" />-->
<!-- Migrate from head to bottom, no longer block render and still work -->

<!-- Modified by iFeng to add the Return to Top function. 202403061305 start -->
<div id="back-to-top">
    <a href="#" data-toggle="tooltip" data-placement="top" title="top">
    <i class="fa fa-chevron-up" aria-hidden="true"></i>
    </a>
</div>
<script>
$(document).ready(function(){
     $(window).scroll(function () {
            if ($(this).scrollTop() > 50) {
                $('#back-to-top').fadeIn();
            } else {
                $('#back-to-top').fadeOut();
            }
        });
        // scroll body to 0px on click
        $('#back-to-top').click(function () {
            $('#back-to-top').tooltip('hide');
            $('body,html').animate({
                scrollTop: 0
            }, 800);
            return false;
        });
        $('#back-to-top').tooltip('show');
});	
</script>
<!-- Modified by iFeng to add the Return to Top function. 202403061305 end-->

</body>
</html>
